<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <h1>Create a new Shift</h1>
      <p>Please, filled the following informations:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <%= simple_form_for(@shift) do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
          <%= f.input :date, start_year: Date.today.year, end_year: Date.today.year + 5, discard_hour: true, discard_minutes: true,
                              order: [:month, :year, :day] %>
          <%= f.input :worker_id, collection: @workers %>
          <div class="form-actions" >
            <%= f.button :submit %>
          </div>
          <%= link_to 'Back to all shifts', shifts_path, class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
