<div class="container">
  <div class="row">
  <h2>Please update informations using the below form:</h2>
  <div class="form-inputs">
    <div class="col-sm-offset-4 col-sm-4">
      <%= simple_form_for(@worker) do |f| %>
        <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :status, collection: ["Medic", "Interne", "Interim"], required: true %>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
      <% end %>
      <br>
      <%= link_to 'Back', worker_path(@worker), class: "btn btn-primary" %>
    </div>
    </div>
  </div>
</div>
